<!-- Header-->
<header class="py-5 home-bg">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-lg-3"  style="margin-top: 30px;">
                <div class="text-center my-5">
                    <div class="card"  style="background-color: rgba(0, 0, 0, 0.4); color:white;min-height: 270px;">
                        <div class="card-body">
                            <h5 class="card-title align-left text-center">Latest News</h5>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7" style="background-color: rgba(0, 0, 0, 0.4);">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Alumni Connect: Uniting Graduates for Life</h1>
                    <p class="lead text-white-50 mb-4">Our alumni website aims to create a vibrant and interconnected
                        global community of alumni from Kurnool
                        Medical College. We envision a platform that fosters lifelong connections, professional growth,
                        and a
                        sense of pride in our alma mater. </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#/register">Register Now</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#/members">Members List</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">


            </div>
        </div>
    </div>
</header>