<!-- Header-->
<header class="bg-teal py-5">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-lg-2">
                &nbsp;
            </div>
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Alumni Connect: Uniting Graduates for Life</h1>
                    <p class="lead text-white-50 mb-4">Our alumni website aims to create a vibrant and interconnected global community of alumni from Kurnool
                        Medical College. We envision a platform that fosters lifelong connections, professional growth, and a
                        sense of pride in our alma mater. </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#/register">Register Now</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#/members">Members List</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center my-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title align-left">Latest News</h5>
                            <div class="align-left">This is a basic Bootstrap box or container.</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</header>