.bg-teal {
    --bs-bg-opacity: 1;
    background: linear-gradient(to bottom, #001F3D, #383A3A);
}

.align-left {
    text-align: left;
}

.home-bg {
    background-image: url('../../../assets/home-bg-01.jpg');
    background-size: cover;
    /* Adjust this property as needed */
    background-attachment: scroll;
    position: relative;
    /* Required for positioning the overlay */
}

.onlyWeb {
    margin-top: 30px;
}

@media screen and (max-width: 500px) {
    .onlyWeb {
        margin-top: 4px;
    }
}

.box {
    height: 200px;
    width: 300px;
    overflow: hidden;
    text-align: left;
}

.hid-box {
    top: 100%;
    position: relative;
    transition: all .3s ease-out;
    height: 100%;
}

.slide-up {
    top: 0;
}