<!-- Header-->
<header class="py-5 home-bg">
    <div class="container px-5">
        <div class="row gx-5">
            <div class="col-lg-4 onlyWeb">
                <div class="text-center my-5 no-margin">
                    <div class="card" style="background-color: rgba(0, 0, 0, 0.0); min-height: 280px;">
                        <!---<div class="card-body">
                            <h5 class="card-title align-left text-center">
                                <i class="fas fa-newspaper"></i> Latest News
                            </h5>
                            <hr />
                            <div class="box">
                                <div class="hid-box" [class.slide-up]="showSlide">
                                    <h5>Elections!   Elections!! Elections!!!</h5>
                                    <p>Only through E voting. 12th December midnight to 22nd December midnight. Please participate in good numbers</p>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">

            </div>
            <div class="col-lg-3">


            </div>
        </div>
    </div>
</header>
