<section class="py-5 border-bottom page-background" id="features" style="padding-top:4px !important;">
    <div class="container">
        <div class="row" class="onlyWeb">&nbsp;</div>
        <div class="row">
            <div class="col-lg-12 coolBg">
                <h2 class="h4 fw-bolder coolBgH1">Members</h2>
            </div>
        </div>
        <div class="row" style="height:30px;">&nbsp;</div>
        <div class="row">
            <div class="col-5 col-sm-12 centerAlign" *ngIf="!dataLoaded">
                <img src="../../../assets/loading-gif.gif" />
            </div>
        </div>
        <div class="row gx-5" *ngIf="dataLoaded">
            <div class="col-7 col-sm-12">
                <div class="tab-content">
                    <div class="row">
                        <div class="col">
                            <select class="form-control" (change)="switchCategory()" [(ngModel)]="selectedCategory">
                                <option [value]="category" *ngFor="let category of categoryList">{{category}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px;">
                        <div class="col-sm-3" *ngFor="let doctor of categoryItemsList">
                            <div class="doctorBox">
                                <div class="business-card">
                                    <h2 class="doctor-name">{{doctor.fullName}}</h2>
                                    <p class="membership-id">Membership ID: {{doctor.membershipId}}</p>
                                    <p class="phone-number">Phone: *******</p>
                                    <p class="email">Email: {{doctor.emailAddress}}</p>
                                    <p class="address">Address: {{doctor.address}}</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>