<section class="py-5 border-bottom page-background" id="features" style="padding-top:4px !important;">
    <div class="container">
        <div class="row" class="onlyWeb">&nbsp;</div>
        <div class="row" style="height:30px;">&nbsp;</div>
        <div class="row gx-5">
            <div class="col-12 col-sm-12" style="text-align: center;margin-top:80px;">
                <h2>Thanks for registering. <br />Admin will verify and email your Membership confirmation.</h2>
            </div>
        </div>
    </div>
</section>