<app-header></app-header>
<section class="py-5 border-bottom" id="features" style="padding-top:4px !important;">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <h2 class="h4 fw-bolder" style="margin-top:16px !important; margin-bottom: 0px !important;">KMC AA Song&nbsp;&nbsp;</h2>
            </div>
            <div class="col-lg-10">
                <audio controls class="full-width-audio">
                    <source src="../../../assets/kmc-aa-song.mpeg" type="audio/mpeg">
                    Your browser does not support the audio element.
                  </audio>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <img src="../../../assets/gallery.jpg" class="img-fluid" />
                <h2 class="h4 fw-bolder">Gallery</h2>
                <p>A visual archive showcasing alumni gatherings, reunions, and activities, capturing the essence of
                    alumni connections and shared experiences.</p>
                <a class="text-decoration-none" href="#/gallery">
                    Show Gallery
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <img src="../../../assets/members.jpg" class="img-fluid" />
                <h2 class="h4 fw-bolder">Members</h2>
                <p>Alumni members are the lifeblood of our community, fostering connections, mentorship, and support for
                    current students and fellow graduates.</p>
                <a class="text-decoration-none" href="#/members">
                    List Members
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4">
                <img src="../../../assets/register.jpg" class="img-fluid" />
                <h2 class="h4 fw-bolder">Register</h2>
                <p>Join our alumni network today! Register as an alumni member to reconnect with classmates and stay
                    updated on exclusive events.</p>
                <a class="text-decoration-none" href="#/register">
                    Register
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>