<section class="py-5 border-bottom page-background" id="features" style="padding-top:4px !important;">
    <div class="container">
        <div class="row" class="onlyWeb">&nbsp;</div>
        <div class="row">
            <div class="col-lg-12 coolBg">
                <h2 class="h4 fw-bolder coolBgH1">Contact Us</h2>
            </div>
        </div>
        <div class="row" style="height:30px;">&nbsp;</div>
        <div class="row gx-5">
            <div class="col-12 col-sm-12">
                <h3>Office Address</h3>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-12 col-sm-12">
                <div># Room Adjacent to Council Hall</div>
                <div>Administrative Block, Kurnool</div>
                <div>Medical College, Kurnool.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 coolBg">
                <h2 class="h4 fw-bolder coolBgH1">Account Details</h2>
            </div>
        </div>
        <div class="row" style="height:30px;">&nbsp;</div>
        <div class="row gx-5">
            <div class="col-12 col-sm-12">
                <div>A/c Name: KMC ALUMNI ASSOCIATION</div>
                <div>A/c No.137910100012303</div>
                <div>IFSC CODE: UBIN0813796 BRANCH:</div>
                <div>Kurnool Medical College</div>
                <div>Kurnool.</div>
            </div>
        </div>
    </div>
</section>